<h1><%= @movie.title %></h1>
<% if @movie.title != @movie.original_title %>
  <h3><em><%= @movie.original_title %></em></h3>
<% end %>

<div class="movie-details">
  <img src=<%= @movie.image %>>
  <div class="text">
    <h3>Description</h3>
    <p><%= @movie.description %></p>
    <h3>Directed By</h3>
    <% @movie.directors.each do |director| %>
      <% if director.imdb_page %>
        <p><%= link_to(director.name, director.imdb_page) %></p>
      <% else %>
        <p><%= director.name %></p>
      <% end %>
    <% end %>
    <%= link_to('Back', root_path) %>
  </div>
</div>
